* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --colorA: #f980ff;
  --colorC: #9f72e4;
  --colorE: #6c7eee;
  font-family: 'Poppins', sans-serif;

}
.header {
  display: block; 
  margin-bottom: 1.3rem;
  justify-content: center;
  background-color: #aaa8a8;
  padding-top: 13px;
  border-radius: 12px 12px 0px 0px;
}
.header h1 {
  text-align: center;
}
.header h1:hover {
  color: #f872ff;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    var(--colorA),
    var(--colorC),
    var(--colorE)
  );
}
.container {
  display: block;
  background-color: #e6e6e6;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 500px;
  width: 350px
}
.form {
  display: block;

}
.form-controller {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1.6rem;
  align-items: center;
}
.form-controller i {
  position: absolute;
  right: 2.7rem;
  top: 2.4rem;
  visibility: hidden;
}
.form-controller i.fa-circle-check {
  color: rgb(89, 212, 136);
}
.form-controller i.fa-circle-exclamation {
  color: rgb(226, 58, 58);
}
.text {
  visibility: hidden;
  position: absolute;
  top: 3.85rem;
  left: 2.8rem;
}
.form-controller label {
  display: inline-block;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.form-controller label:hover {
  color: #f5b1f8;
}
.form-controller input {
  border: 0.2px solid rgb(146, 146, 146);
  display: block;
  border-radius: 20px;
  width: 80%;
  padding: 4px;
  padding-left: 0.7rem;
  padding-top: 4px;
  margin-top: 0.1rem;
}

.button {
  width: 85%;
  height: 3rem;
  line-height: 3rem;
  border-radius: 20px;
  border: none;
  font-size: 2rem;
  color: white;
  background-color: var(--colorA);
  text-align: center;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.subButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Success and Error */

.form-controller.success input {
  border: 0.6px solid rgb(89, 212, 136);
}
.form-controller.success i.fa-circle-check{
  visibility: visible;
}

.form-controller.error input {
  border: 0.6px solid rgb(226, 58, 58);
}
.form-controller.error i.fa-circle-exclamation {
  visibility: visible;
}
.form-controller.error small {
  color: rgb(226, 58, 58);
  visibility: visible;
}